@import "_common";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.box {
  border:1px solid blue;
  width: 300px;
  padding: 20px;
  @include border-radius(20px);
}